global-exclude *.py[cod]
prune __pycache__
prune docs
prune requirements
prune scripts
prune tests
exclude .pre-commit-config.yaml
exclude .readthedocs.yml
exclude CHANGELOG.rst
exclude tox.ini
include LICENSE
include README.rst
