appdirs==1.4.4
attrs==19.3.0
black==19.10b0
click==7.1.2
flake8==3.8.3
importlib-metadata==1.7.0
mccabe==0.6.1
pathspec==0.8.0
pycodestyle==2.6.0
pyflakes==2.2.0
regex==2020.7.14
toml==0.10.1
typed-ast==1.4.1
zipp==3.1.0
