attrs==19.3.0
Brotli==1.0.7
certifi==2020.6.20
chardet==3.0.4
coverage==5.2.1
idna==2.10
importlib-metadata==1.7.0
iniconfig==1.0.0
more-itertools==8.4.0
packaging==20.4
pathlib2==2.3.5
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pytest==6.0.0
pytest-cov==2.10.0
requests==2.24.0
six==1.15.0
toml==0.10.1
urllib3==1.25.10
zipp==1.2.0
