/* Font changes */
.md-typeset {
  font-weight: 300;
}

.md-typeset h1 {
  font-weight: 600;
  margin: 0;
  font-size: 2.5em;
}

.md-typeset h2 {
  font-weight: 500;
}

.md-typeset h3 {
  font-weight: 400;
}

/* Reduce size of the outdated banner */
.md-banner__inner {
  margin: 0.45rem auto;
}

/* Footer styling */
.md-footer {
  border-top: 1px solid var(--md-footer-border-color);
}

.md-copyright {
  width: 100%;
}

.md-copyright__highlight {
  width: 100%;
}

.legal-footer-right {
  float: right;
}

.md-copyright__highlight div {
  display: inline;
}
